.clearfix,
container-fluid,
row,
container {
  zoom: 1;
}
.clearfix:before,
container-fluid:before,
row:before,
container:before,
.clearfix:after,
container-fluid:after,
row:after,
container:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after,
container-fluid:after,
row:after,
container:after {
  clear: both;
}
@media only screen and (max-width: 640px) {
  container-fluid {
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (max-width: 640px) {
  container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}
@media only screen and (max-width: 640px) {
  .col-m-1 {
    float: left;
  }
  .col-m-2 {
    float: left;
  }
  .col-m-3 {
    float: left;
  }
  .col-m-4 {
    float: left;
  }
  .col-m-5 {
    float: left;
  }
  .col-m-6 {
    float: left;
  }
  .col-m-2 {
    width: 33.333333333333336%;
  }
  .col-m-3 {
    width: 50%;
  }
  .col-m-4 {
    width: 66.66666666666667%;
  }
  .col-m-5 {
    width: 83.33333333333333%;
  }
  .col-m-6 {
    width: 100%;
  }
  .col-m-6:after {
    content: 'm';
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #f00;
    padding: 10px;
    border-radius: 5px;
    color: #f00;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .col-m-pull-0 {
    right: auto;
  }
  .col-m-2 {
    width: 33.333333333333336%;
  }
  .col-m-pull-2 {
    right: 33.333333333333336%;
  }
  .col-m-3 {
    width: 50%;
  }
  .col-m-pull-3 {
    right: 50%;
  }
  .col-m-4 {
    width: 66.66666666666667%;
  }
  .col-m-pull-4 {
    right: 66.66666666666667%;
  }
  .col-m-5 {
    width: 83.33333333333333%;
  }
  .col-m-pull-5 {
    right: 83.33333333333333%;
  }
  .col-m-6 {
    width: 100%;
  }
  .col-m-pull-6 {
    right: 100%;
  }
  .col-m-6:after {
    content: 'm';
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #f00;
    padding: 10px;
    border-radius: 5px;
    color: #f00;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .col-m-2 {
    width: 33.333333333333336%;
  }
  .col-m-push-2 {
    left: 33.333333333333336%;
  }
  .col-m-3 {
    width: 50%;
  }
  .col-m-push-3 {
    left: 50%;
  }
  .col-m-4 {
    width: 66.66666666666667%;
  }
  .col-m-push-4 {
    left: 66.66666666666667%;
  }
  .col-m-5 {
    width: 83.33333333333333%;
  }
  .col-m-push-5 {
    left: 83.33333333333333%;
  }
  .col-m-6 {
    width: 100%;
  }
  .col-m-push-6 {
    left: 100%;
  }
  .col-m-6:after {
    content: 'm';
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #f00;
    padding: 10px;
    border-radius: 5px;
    color: #f00;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .col-m-offset-1 {
    margin-left: 16.666666666666668%;
  }
  .col-m-2 {
    width: 33.333333333333336%;
  }
  .col-m-offset-2 {
    margin-left: 33.333333333333336%;
  }
  .col-m-3 {
    width: 50%;
  }
  .col-m-offset-3 {
    margin-left: 50%;
  }
  .col-m-4 {
    width: 66.66666666666667%;
  }
  .col-m-offset-4 {
    margin-left: 66.66666666666667%;
  }
  .col-m-5 {
    width: 83.33333333333333%;
  }
  .col-m-offset-5 {
    margin-left: 83.33333333333333%;
  }
  .col-m-6 {
    width: 100%;
  }
  .col-m-offset-6 {
    margin-left: 100%;
  }
  .col-m-6:after {
    content: 'm';
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #f00;
    padding: 10px;
    border-radius: 5px;
    color: #f00;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .col-m-1 {
    position: relative;
    min-height: 1px;
  }
  .col-m-2 {
    position: relative;
    min-height: 1px;
  }
  .col-m-3 {
    position: relative;
    min-height: 1px;
  }
  .col-m-4 {
    position: relative;
    min-height: 1px;
  }
  .col-m-5 {
    position: relative;
    min-height: 1px;
  }
  .col-m-6 {
    position: relative;
    min-height: 1px;
  }
}
@media only screen and (min-width: 641px) and (max-width: 800px) {
  container-fluid {
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (min-width: 641px) and (max-width: 800px) {
  container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}
@media only screen and (min-width: 641px) and (max-width: 800px) {
  .col-ds-1 {
    float: left;
  }
  .col-ds-2 {
    float: left;
  }
  .col-ds-3 {
    float: left;
  }
  .col-ds-4 {
    float: left;
  }
  .col-ds-5 {
    float: left;
  }
  .col-ds-6 {
    float: left;
  }
  .col-ds-7 {
    float: left;
  }
  .col-ds-8 {
    float: left;
  }
  .col-ds-9 {
    float: left;
  }
  .col-ds-10 {
    float: left;
  }
  .col-ds-11 {
    float: left;
  }
  .col-ds-12 {
    float: left;
  }
  .col-ds-2 {
    width: 16.666666666666668%;
  }
  .col-ds-3 {
    width: 25%;
  }
  .col-ds-4 {
    width: 33.333333333333336%;
  }
  .col-ds-5 {
    width: 41.666666666666664%;
  }
  .col-ds-6 {
    width: 50%;
  }
  .col-ds-7 {
    width: 58.333333333333336%;
  }
  .col-ds-8 {
    width: 66.66666666666667%;
  }
  .col-ds-9 {
    width: 75%;
  }
  .col-ds-10 {
    width: 83.33333333333333%;
  }
  .col-ds-11 {
    width: 91.66666666666667%;
  }
  .col-ds-12 {
    width: 100%;
  }
  .col-ds-12:after {
    content: 'ds';
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #f00;
    padding: 10px;
    border-radius: 5px;
    color: #f00;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .col-ds-pull-0 {
    right: auto;
  }
  .col-ds-2 {
    width: 16.666666666666668%;
  }
  .col-ds-pull-2 {
    right: 16.666666666666668%;
  }
  .col-ds-3 {
    width: 25%;
  }
  .col-ds-pull-3 {
    right: 25%;
  }
  .col-ds-4 {
    width: 33.333333333333336%;
  }
  .col-ds-pull-4 {
    right: 33.333333333333336%;
  }
  .col-ds-5 {
    width: 41.666666666666664%;
  }
  .col-ds-pull-5 {
    right: 41.666666666666664%;
  }
  .col-ds-6 {
    width: 50%;
  }
  .col-ds-pull-6 {
    right: 50%;
  }
  .col-ds-7 {
    width: 58.333333333333336%;
  }
  .col-ds-pull-7 {
    right: 58.333333333333336%;
  }
  .col-ds-8 {
    width: 66.66666666666667%;
  }
  .col-ds-pull-8 {
    right: 66.66666666666667%;
  }
  .col-ds-9 {
    width: 75%;
  }
  .col-ds-pull-9 {
    right: 75%;
  }
  .col-ds-10 {
    width: 83.33333333333333%;
  }
  .col-ds-pull-10 {
    right: 83.33333333333333%;
  }
  .col-ds-11 {
    width: 91.66666666666667%;
  }
  .col-ds-pull-11 {
    right: 91.66666666666667%;
  }
  .col-ds-12 {
    width: 100%;
  }
  .col-ds-pull-12 {
    right: 100%;
  }
  .col-ds-12:after {
    content: 'ds';
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #f00;
    padding: 10px;
    border-radius: 5px;
    color: #f00;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .col-ds-2 {
    width: 16.666666666666668%;
  }
  .col-ds-push-2 {
    left: 16.666666666666668%;
  }
  .col-ds-3 {
    width: 25%;
  }
  .col-ds-push-3 {
    left: 25%;
  }
  .col-ds-4 {
    width: 33.333333333333336%;
  }
  .col-ds-push-4 {
    left: 33.333333333333336%;
  }
  .col-ds-5 {
    width: 41.666666666666664%;
  }
  .col-ds-push-5 {
    left: 41.666666666666664%;
  }
  .col-ds-6 {
    width: 50%;
  }
  .col-ds-push-6 {
    left: 50%;
  }
  .col-ds-7 {
    width: 58.333333333333336%;
  }
  .col-ds-push-7 {
    left: 58.333333333333336%;
  }
  .col-ds-8 {
    width: 66.66666666666667%;
  }
  .col-ds-push-8 {
    left: 66.66666666666667%;
  }
  .col-ds-9 {
    width: 75%;
  }
  .col-ds-push-9 {
    left: 75%;
  }
  .col-ds-10 {
    width: 83.33333333333333%;
  }
  .col-ds-push-10 {
    left: 83.33333333333333%;
  }
  .col-ds-11 {
    width: 91.66666666666667%;
  }
  .col-ds-push-11 {
    left: 91.66666666666667%;
  }
  .col-ds-12 {
    width: 100%;
  }
  .col-ds-push-12 {
    left: 100%;
  }
  .col-ds-12:after {
    content: 'ds';
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #f00;
    padding: 10px;
    border-radius: 5px;
    color: #f00;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .col-ds-offset-1 {
    margin-left: 8.333333333333334%;
  }
  .col-ds-2 {
    width: 16.666666666666668%;
  }
  .col-ds-offset-2 {
    margin-left: 16.666666666666668%;
  }
  .col-ds-3 {
    width: 25%;
  }
  .col-ds-offset-3 {
    margin-left: 25%;
  }
  .col-ds-4 {
    width: 33.333333333333336%;
  }
  .col-ds-offset-4 {
    margin-left: 33.333333333333336%;
  }
  .col-ds-5 {
    width: 41.666666666666664%;
  }
  .col-ds-offset-5 {
    margin-left: 41.666666666666664%;
  }
  .col-ds-6 {
    width: 50%;
  }
  .col-ds-offset-6 {
    margin-left: 50%;
  }
  .col-ds-7 {
    width: 58.333333333333336%;
  }
  .col-ds-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-ds-8 {
    width: 66.66666666666667%;
  }
  .col-ds-offset-8 {
    margin-left: 66.66666666666667%;
  }
  .col-ds-9 {
    width: 75%;
  }
  .col-ds-offset-9 {
    margin-left: 75%;
  }
  .col-ds-10 {
    width: 83.33333333333333%;
  }
  .col-ds-offset-10 {
    margin-left: 83.33333333333333%;
  }
  .col-ds-11 {
    width: 91.66666666666667%;
  }
  .col-ds-offset-11 {
    margin-left: 91.66666666666667%;
  }
  .col-ds-12 {
    width: 100%;
  }
  .col-ds-offset-12 {
    margin-left: 100%;
  }
  .col-ds-12:after {
    content: 'ds';
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #f00;
    padding: 10px;
    border-radius: 5px;
    color: #f00;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .col-ds-1 {
    position: relative;
    min-height: 1px;
  }
  .col-ds-2 {
    position: relative;
    min-height: 1px;
  }
  .col-ds-3 {
    position: relative;
    min-height: 1px;
  }
  .col-ds-4 {
    position: relative;
    min-height: 1px;
  }
  .col-ds-5 {
    position: relative;
    min-height: 1px;
  }
  .col-ds-6 {
    position: relative;
    min-height: 1px;
  }
  .col-ds-7 {
    position: relative;
    min-height: 1px;
  }
  .col-ds-8 {
    position: relative;
    min-height: 1px;
  }
  .col-ds-9 {
    position: relative;
    min-height: 1px;
  }
  .col-ds-10 {
    position: relative;
    min-height: 1px;
  }
  .col-ds-11 {
    position: relative;
    min-height: 1px;
  }
  .col-ds-12 {
    position: relative;
    min-height: 1px;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1280px) {
  container-fluid {
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1280px) {
  container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1280px) {
  .col-dm-1 {
    float: left;
  }
  .col-dm-2 {
    float: left;
  }
  .col-dm-3 {
    float: left;
  }
  .col-dm-4 {
    float: left;
  }
  .col-dm-5 {
    float: left;
  }
  .col-dm-6 {
    float: left;
  }
  .col-dm-7 {
    float: left;
  }
  .col-dm-8 {
    float: left;
  }
  .col-dm-9 {
    float: left;
  }
  .col-dm-10 {
    float: left;
  }
  .col-dm-11 {
    float: left;
  }
  .col-dm-12 {
    float: left;
  }
  .col-dm-2 {
    width: 16.666666666666668%;
  }
  .col-dm-3 {
    width: 25%;
  }
  .col-dm-4 {
    width: 33.333333333333336%;
  }
  .col-dm-5 {
    width: 41.666666666666664%;
  }
  .col-dm-6 {
    width: 50%;
  }
  .col-dm-7 {
    width: 58.333333333333336%;
  }
  .col-dm-8 {
    width: 66.66666666666667%;
  }
  .col-dm-9 {
    width: 75%;
  }
  .col-dm-10 {
    width: 83.33333333333333%;
  }
  .col-dm-11 {
    width: 91.66666666666667%;
  }
  .col-dm-12 {
    width: 100%;
  }
  .col-dm-12:after {
    content: 'dm';
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #f00;
    padding: 10px;
    border-radius: 5px;
    color: #f00;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .col-dm-pull-0 {
    right: auto;
  }
  .col-dm-2 {
    width: 16.666666666666668%;
  }
  .col-dm-pull-2 {
    right: 16.666666666666668%;
  }
  .col-dm-3 {
    width: 25%;
  }
  .col-dm-pull-3 {
    right: 25%;
  }
  .col-dm-4 {
    width: 33.333333333333336%;
  }
  .col-dm-pull-4 {
    right: 33.333333333333336%;
  }
  .col-dm-5 {
    width: 41.666666666666664%;
  }
  .col-dm-pull-5 {
    right: 41.666666666666664%;
  }
  .col-dm-6 {
    width: 50%;
  }
  .col-dm-pull-6 {
    right: 50%;
  }
  .col-dm-7 {
    width: 58.333333333333336%;
  }
  .col-dm-pull-7 {
    right: 58.333333333333336%;
  }
  .col-dm-8 {
    width: 66.66666666666667%;
  }
  .col-dm-pull-8 {
    right: 66.66666666666667%;
  }
  .col-dm-9 {
    width: 75%;
  }
  .col-dm-pull-9 {
    right: 75%;
  }
  .col-dm-10 {
    width: 83.33333333333333%;
  }
  .col-dm-pull-10 {
    right: 83.33333333333333%;
  }
  .col-dm-11 {
    width: 91.66666666666667%;
  }
  .col-dm-pull-11 {
    right: 91.66666666666667%;
  }
  .col-dm-12 {
    width: 100%;
  }
  .col-dm-pull-12 {
    right: 100%;
  }
  .col-dm-12:after {
    content: 'dm';
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #f00;
    padding: 10px;
    border-radius: 5px;
    color: #f00;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .col-dm-2 {
    width: 16.666666666666668%;
  }
  .col-dm-push-2 {
    left: 16.666666666666668%;
  }
  .col-dm-3 {
    width: 25%;
  }
  .col-dm-push-3 {
    left: 25%;
  }
  .col-dm-4 {
    width: 33.333333333333336%;
  }
  .col-dm-push-4 {
    left: 33.333333333333336%;
  }
  .col-dm-5 {
    width: 41.666666666666664%;
  }
  .col-dm-push-5 {
    left: 41.666666666666664%;
  }
  .col-dm-6 {
    width: 50%;
  }
  .col-dm-push-6 {
    left: 50%;
  }
  .col-dm-7 {
    width: 58.333333333333336%;
  }
  .col-dm-push-7 {
    left: 58.333333333333336%;
  }
  .col-dm-8 {
    width: 66.66666666666667%;
  }
  .col-dm-push-8 {
    left: 66.66666666666667%;
  }
  .col-dm-9 {
    width: 75%;
  }
  .col-dm-push-9 {
    left: 75%;
  }
  .col-dm-10 {
    width: 83.33333333333333%;
  }
  .col-dm-push-10 {
    left: 83.33333333333333%;
  }
  .col-dm-11 {
    width: 91.66666666666667%;
  }
  .col-dm-push-11 {
    left: 91.66666666666667%;
  }
  .col-dm-12 {
    width: 100%;
  }
  .col-dm-push-12 {
    left: 100%;
  }
  .col-dm-12:after {
    content: 'dm';
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #f00;
    padding: 10px;
    border-radius: 5px;
    color: #f00;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .col-dm-offset-1 {
    margin-left: 8.333333333333334%;
  }
  .col-dm-2 {
    width: 16.666666666666668%;
  }
  .col-dm-offset-2 {
    margin-left: 16.666666666666668%;
  }
  .col-dm-3 {
    width: 25%;
  }
  .col-dm-offset-3 {
    margin-left: 25%;
  }
  .col-dm-4 {
    width: 33.333333333333336%;
  }
  .col-dm-offset-4 {
    margin-left: 33.333333333333336%;
  }
  .col-dm-5 {
    width: 41.666666666666664%;
  }
  .col-dm-offset-5 {
    margin-left: 41.666666666666664%;
  }
  .col-dm-6 {
    width: 50%;
  }
  .col-dm-offset-6 {
    margin-left: 50%;
  }
  .col-dm-7 {
    width: 58.333333333333336%;
  }
  .col-dm-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-dm-8 {
    width: 66.66666666666667%;
  }
  .col-dm-offset-8 {
    margin-left: 66.66666666666667%;
  }
  .col-dm-9 {
    width: 75%;
  }
  .col-dm-offset-9 {
    margin-left: 75%;
  }
  .col-dm-10 {
    width: 83.33333333333333%;
  }
  .col-dm-offset-10 {
    margin-left: 83.33333333333333%;
  }
  .col-dm-11 {
    width: 91.66666666666667%;
  }
  .col-dm-offset-11 {
    margin-left: 91.66666666666667%;
  }
  .col-dm-12 {
    width: 100%;
  }
  .col-dm-offset-12 {
    margin-left: 100%;
  }
  .col-dm-12:after {
    content: 'dm';
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #f00;
    padding: 10px;
    border-radius: 5px;
    color: #f00;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .col-dm-1 {
    position: relative;
    min-height: 1px;
  }
  .col-dm-2 {
    position: relative;
    min-height: 1px;
  }
  .col-dm-3 {
    position: relative;
    min-height: 1px;
  }
  .col-dm-4 {
    position: relative;
    min-height: 1px;
  }
  .col-dm-5 {
    position: relative;
    min-height: 1px;
  }
  .col-dm-6 {
    position: relative;
    min-height: 1px;
  }
  .col-dm-7 {
    position: relative;
    min-height: 1px;
  }
  .col-dm-8 {
    position: relative;
    min-height: 1px;
  }
  .col-dm-9 {
    position: relative;
    min-height: 1px;
  }
  .col-dm-10 {
    position: relative;
    min-height: 1px;
  }
  .col-dm-11 {
    position: relative;
    min-height: 1px;
  }
  .col-dm-12 {
    position: relative;
    min-height: 1px;
  }
}
@media only screen and (min-width: 1280px) {
  container-fluid {
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (min-width: 1280px) {
  container {
    margin-right: auto;
    margin-left: auto;
    width: 1280px;
  }
}
@media only screen and (min-width: 1280px) {
  .col-dl-1 {
    float: left;
  }
  .col-dl-2 {
    float: left;
  }
  .col-dl-3 {
    float: left;
  }
  .col-dl-4 {
    float: left;
  }
  .col-dl-5 {
    float: left;
  }
  .col-dl-6 {
    float: left;
  }
  .col-dl-7 {
    float: left;
  }
  .col-dl-8 {
    float: left;
  }
  .col-dl-9 {
    float: left;
  }
  .col-dl-10 {
    float: left;
  }
  .col-dl-11 {
    float: left;
  }
  .col-dl-12 {
    float: left;
  }
  .col-dl-2 {
    width: 16.666666666666668%;
  }
  .col-dl-3 {
    width: 25%;
  }
  .col-dl-4 {
    width: 33.333333333333336%;
  }
  .col-dl-5 {
    width: 41.666666666666664%;
  }
  .col-dl-6 {
    width: 50%;
  }
  .col-dl-7 {
    width: 58.333333333333336%;
  }
  .col-dl-8 {
    width: 66.66666666666667%;
  }
  .col-dl-9 {
    width: 75%;
  }
  .col-dl-10 {
    width: 83.33333333333333%;
  }
  .col-dl-11 {
    width: 91.66666666666667%;
  }
  .col-dl-12 {
    width: 100%;
  }
  .col-dl-12:after {
    content: 'dl';
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #f00;
    padding: 10px;
    border-radius: 5px;
    color: #f00;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .col-dl-pull-0 {
    right: auto;
  }
  .col-dl-2 {
    width: 16.666666666666668%;
  }
  .col-dl-pull-2 {
    right: 16.666666666666668%;
  }
  .col-dl-3 {
    width: 25%;
  }
  .col-dl-pull-3 {
    right: 25%;
  }
  .col-dl-4 {
    width: 33.333333333333336%;
  }
  .col-dl-pull-4 {
    right: 33.333333333333336%;
  }
  .col-dl-5 {
    width: 41.666666666666664%;
  }
  .col-dl-pull-5 {
    right: 41.666666666666664%;
  }
  .col-dl-6 {
    width: 50%;
  }
  .col-dl-pull-6 {
    right: 50%;
  }
  .col-dl-7 {
    width: 58.333333333333336%;
  }
  .col-dl-pull-7 {
    right: 58.333333333333336%;
  }
  .col-dl-8 {
    width: 66.66666666666667%;
  }
  .col-dl-pull-8 {
    right: 66.66666666666667%;
  }
  .col-dl-9 {
    width: 75%;
  }
  .col-dl-pull-9 {
    right: 75%;
  }
  .col-dl-10 {
    width: 83.33333333333333%;
  }
  .col-dl-pull-10 {
    right: 83.33333333333333%;
  }
  .col-dl-11 {
    width: 91.66666666666667%;
  }
  .col-dl-pull-11 {
    right: 91.66666666666667%;
  }
  .col-dl-12 {
    width: 100%;
  }
  .col-dl-pull-12 {
    right: 100%;
  }
  .col-dl-12:after {
    content: 'dl';
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #f00;
    padding: 10px;
    border-radius: 5px;
    color: #f00;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .col-dl-2 {
    width: 16.666666666666668%;
  }
  .col-dl-push-2 {
    left: 16.666666666666668%;
  }
  .col-dl-3 {
    width: 25%;
  }
  .col-dl-push-3 {
    left: 25%;
  }
  .col-dl-4 {
    width: 33.333333333333336%;
  }
  .col-dl-push-4 {
    left: 33.333333333333336%;
  }
  .col-dl-5 {
    width: 41.666666666666664%;
  }
  .col-dl-push-5 {
    left: 41.666666666666664%;
  }
  .col-dl-6 {
    width: 50%;
  }
  .col-dl-push-6 {
    left: 50%;
  }
  .col-dl-7 {
    width: 58.333333333333336%;
  }
  .col-dl-push-7 {
    left: 58.333333333333336%;
  }
  .col-dl-8 {
    width: 66.66666666666667%;
  }
  .col-dl-push-8 {
    left: 66.66666666666667%;
  }
  .col-dl-9 {
    width: 75%;
  }
  .col-dl-push-9 {
    left: 75%;
  }
  .col-dl-10 {
    width: 83.33333333333333%;
  }
  .col-dl-push-10 {
    left: 83.33333333333333%;
  }
  .col-dl-11 {
    width: 91.66666666666667%;
  }
  .col-dl-push-11 {
    left: 91.66666666666667%;
  }
  .col-dl-12 {
    width: 100%;
  }
  .col-dl-push-12 {
    left: 100%;
  }
  .col-dl-12:after {
    content: 'dl';
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #f00;
    padding: 10px;
    border-radius: 5px;
    color: #f00;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .col-dl-offset-1 {
    margin-left: 8.333333333333334%;
  }
  .col-dl-2 {
    width: 16.666666666666668%;
  }
  .col-dl-offset-2 {
    margin-left: 16.666666666666668%;
  }
  .col-dl-3 {
    width: 25%;
  }
  .col-dl-offset-3 {
    margin-left: 25%;
  }
  .col-dl-4 {
    width: 33.333333333333336%;
  }
  .col-dl-offset-4 {
    margin-left: 33.333333333333336%;
  }
  .col-dl-5 {
    width: 41.666666666666664%;
  }
  .col-dl-offset-5 {
    margin-left: 41.666666666666664%;
  }
  .col-dl-6 {
    width: 50%;
  }
  .col-dl-offset-6 {
    margin-left: 50%;
  }
  .col-dl-7 {
    width: 58.333333333333336%;
  }
  .col-dl-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-dl-8 {
    width: 66.66666666666667%;
  }
  .col-dl-offset-8 {
    margin-left: 66.66666666666667%;
  }
  .col-dl-9 {
    width: 75%;
  }
  .col-dl-offset-9 {
    margin-left: 75%;
  }
  .col-dl-10 {
    width: 83.33333333333333%;
  }
  .col-dl-offset-10 {
    margin-left: 83.33333333333333%;
  }
  .col-dl-11 {
    width: 91.66666666666667%;
  }
  .col-dl-offset-11 {
    margin-left: 91.66666666666667%;
  }
  .col-dl-12 {
    width: 100%;
  }
  .col-dl-offset-12 {
    margin-left: 100%;
  }
  .col-dl-12:after {
    content: 'dl';
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #f00;
    padding: 10px;
    border-radius: 5px;
    color: #f00;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .col-dl-1 {
    position: relative;
    min-height: 1px;
  }
  .col-dl-2 {
    position: relative;
    min-height: 1px;
  }
  .col-dl-3 {
    position: relative;
    min-height: 1px;
  }
  .col-dl-4 {
    position: relative;
    min-height: 1px;
  }
  .col-dl-5 {
    position: relative;
    min-height: 1px;
  }
  .col-dl-6 {
    position: relative;
    min-height: 1px;
  }
  .col-dl-7 {
    position: relative;
    min-height: 1px;
  }
  .col-dl-8 {
    position: relative;
    min-height: 1px;
  }
  .col-dl-9 {
    position: relative;
    min-height: 1px;
  }
  .col-dl-10 {
    position: relative;
    min-height: 1px;
  }
  .col-dl-11 {
    position: relative;
    min-height: 1px;
  }
  .col-dl-12 {
    position: relative;
    min-height: 1px;
  }
}
